:root {
  --dark: #221b1b;
  --white: #fff;
  --gray: #685d5d;
  --primary-color: #3060bb;
}

.event-container {
  display: flex;
}

.event-container__date-block {
  background: var(--dark);
  color: var(--white);
  align-self: center;
}
